@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.Deck{
    font-family: 'Nunito', sans-serif;
}

.Deck-icons{
    font-size: 50px;
}

.Deck-cards{
    margin-top: 7%;
}

.Deck-black-club{
    color: aquamarine;
}

.Deck-red-club{
    color: #ec4d4d;
}

.Deck h1{
    color: azure;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.Deck button{
    background: none;
    border: none;
    color: #36bea1;
    font-family: inherit;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
    border: 2px solid #36bea1;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.Deck button:hover{
    border-color: #207461;
    color: #207461;
}

.Deck button .loader{
    margin-left: 10px;
    margin-top: 4px;
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 3px solid;
    border-top-color: #36bea1;
    border-left-color: #4d4d4d;
    border-right-color: #4d4d4d;
    border-bottom-color: #4d4d4d;
    animation: spin 1s linear;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}